extends layout

block content
  section#blog-content
    for post in sort(site.content, {by: 'date'})
      section
        h1=post.title
        p
          ='Posted on '
          span.date= formatDate(post.date)
          =' by '
          span.author= post.author
        != post.content
