extends layout

block content
  section#digital-content.category-gallery(style='display: block;')
    .gallery
      figure
        a.fancybox(rel='gallery', href='/content/digital/Palmer.jpg', title='Palmer - $100')
          img(src='/content/digital/Palmer.jpg', alt='')
          figcaption Palmer - $100
      figure
        a.fancybox(rel='gallery', href='/content/digital/Solarflare.jpg', title='Solar Flare - $100')
          img(src='/content/digital/Solarflare.jpg', alt='')
          figcaption Solar Flare - $100
      figure
        a.fancybox(rel='gallery', href='/content/digital/Lollipop.jpg', title='Lolli - $100')
          img(src='/content/digital/Lollipop.jpg', alt='')
          figcaption Lolli - $100
      figure
        a.fancybox(rel='gallery', href='/content/digital/Ram.jpg', title='Ram - $100')
          img(src='/content/digital/Ram.jpg', alt='')
          figcaption Ram - $100
      figure
        a.fancybox(rel='gallery', href='/content/digital/Rama.jpg', title='Rame - $100')
          img(src='/content/digital/Rama.jpg', alt='')
          figcaption Rame - $100
      figure
        a.fancybox(rel='gallery', href='/content/digital/Red-Lover.jpg', title='Red Lover - $100')
          img(src='/content/digital/Red-Lover.jpg', alt='')
          figcaption Red Lover - $100
      figure
        a.fancybox(rel='gallery', href='/content/digital/Sea-Dragons.jpg', title='Sea Dragons - $100')
          img(src='/content/digital/Sea-Dragons.jpg', alt='')
          figcaption Sea Dragons - $100
      figure
        a.fancybox(rel='gallery', href='/content/digital/Golden-Eternity.jpg', title='Golden Eternity - $100')
          img(src='/content/digital/Golden-Eternity.jpg', alt='')
          figcaption Golden Eternity - $100
      figure
        a.fancybox(rel='gallery', href='/content/digital/Cupola.jpg', title='Cupola - $100')
          img(src='/content/digital/Cupola.jpg', alt='')
          figcaption Cupola - $100
      figure
        a.fancybox(rel='gallery', href='/content/digital/Loving-Cupboard.jpg', title='Loving Cupboard - $100')
          img(src='/content/digital/Loving-Cupboard.jpg', alt='')
          figcaption Loving Cupboard - $100
      figure
        a.fancybox(rel='gallery', href='/content/digital/Jungle.jpg', title='Jungle - $100')
          img(src='/content/digital/Jungle.jpg', alt='')
          figcaption Jungle - $100
      figure
        a.fancybox(rel='gallery', href='/content/digital/Leftover-Seaweed.jpg', title='Leftover Seaweed - $100')
          img(src='/content/digital/Leftover-Seaweed.jpg', alt='')
          figcaption Leftover Seaweed - $100
      figure
        a.fancybox(rel='gallery', href='/content/digital/Field.jpg', title='Field - $100')
          img(src='/content/digital/Field.jpg', alt='')
          figcaption Field - $100
      figure
        a.fancybox(rel='gallery', href='/content/digital/Honey.jpg', title='Honey - $100')
          img(src='/content/digital/Honey.jpg', alt='')
          figcaption Honey - $100
      figure
        a.fancybox(rel='gallery', href='/content/digital/Fish-Mouth-Mouth-Fish.jpg', title='Fish-Mouth-Mouth-Fish - $100')
          img(src='/content/digital/Fish-Mouth-Mouth-Fish.jpg', alt='')
          figcaption Fish-Mouth-Mouth-Fish - $100
      figure
        a.fancybox(rel='gallery', href='/content/digital/Iris-Voyage-III.jpg', title='Iris-Voyage-III - $100')
          img(src='/content/digital/Iris-Voyage-III.jpg', alt='')
          figcaption Iris-Voyage-III - $100
      figure
        a.fancybox(rel='gallery', href='/content/digital/Iris-Voyage-II.jpg', title='Iris-Voyage-II - $100')
          img(src='/content/digital/Iris-Voyage-II.jpg', alt='')
          figcaption Iris-Voyage-II - $100
      figure
        a.fancybox(rel='gallery', href='/content/digital/Iris-Voyage.jpg', title='Iris-Voyage - $100')
          img(src='/content/digital/Iris-Voyage.jpg', alt='')
          figcaption Iris-Voyage - $100
      figure
        a.fancybox(rel='gallery', href='/content/digital/Electric-Puddle.jpg', title='Electric-Puddle - $100')
          img(src='/content/digital/Electric-Puddle.jpg', alt='')
          figcaption Electric-Puddle - $100
      figure
        a.fancybox(rel='gallery', href='/content/digital/Crowd-Sandwich.jpg', title='Crowd-Sandwich - $100')
          img(src='/content/digital/Crowd-Sandwich.jpg', alt='')
          figcaption Crowd-Sandwich - $100
      figure
        a.fancybox(rel='gallery', href='/content/digital/Galazy.jpg', title='Galazy - $100')
          img(src='/content/digital/Galazy.jpg', alt='')
          figcaption Galazy - $100
      figure
        a.fancybox(rel='gallery', href='/content/digital/Petrified-Night.jpg', title='Petrified-Night - $100')
          img(src='/content/digital/Petrified-Night.jpg', alt='')
          figcaption Petrified-Night - $100
      figure
        a.fancybox(rel='gallery', href='/content/digital/Native.jpg', title='Native - $300')
          img(src='/content/digital/Native.jpg', alt='')
          figcaption Native - $300
      figure
        a.fancybox(rel='gallery', href='/content/digital/Contents-May-Be-Hot.jpg', title='Contents-May-Be-Hot - $100')
          img(src='/content/digital/Contents-May-Be-Hot.jpg', alt='')
          figcaption Contents-May-Be-Hot - $100
      figure
        a.fancybox(rel='gallery', href='/content/digital/The-Origin.jpg', title='The-Orgin - $150')
          img(src='/content/digital/The-Origin.jpg', alt='')
          figcaption The-Orgin - $150
      figure
        a.fancybox(rel='gallery', href='/content/digital/Mothra.jpg', title='Mothra - $100')
          img(src='/content/digital/Mothra.jpg', alt='')
          figcaption Mothra - $100
      figure
        a.fancybox(rel='gallery', href='/content/digital/Happy-Dragon-Kissing-Fish.jpg', title='Happy-Dragon-Kissing-Fish - $100')
          img(src='/content/digital/Happy-Dragon-Kissing-Fish.jpg', alt='')
          figcaption Happy-Dragon-Kissing-Fish - $100
      figure
        a.fancybox(rel='gallery', href='/content/digital/Continuum-Transfuctioner.jpg', title='Continuum-Transfuctioner - $100')
          img(src='/content/digital/Continuum-Transfuctioner.jpg', alt='')
          figcaption Continuum-Transfuctioner - $100
      figure
        a.fancybox(rel='gallery', href='/content/digital/Blue-Spark.jpg', title='Blue-Spark - $100')
          img(src='/content/digital/Blue-Spark.jpg', alt='')
          figcaption Blue-Spark - $100
      figure
        a.fancybox(rel='gallery', href='/content/digital/Black-Lace.jpg', title='Black-Lace - $100')
          img(src='/content/digital/Black-Lace.jpg', alt='')
          figcaption Black-Lace - $100
