section.text
  :markdown
    #Color is Alive

    > In the dawn, armed with a burning patience, we shall enter the splendid Cities.
    - Arthur Rimbaud

section#painting


section
  p this file can be found in views/index.jade

  :markdown
    For help and documentation, check out [http://roots.cx](http://roots.cx)

section#footer
  p this file can be found in views/index.jade

section#copy
    p &copy; Chaz Southard - 2013 &nbsp;&nbsp;/&nbsp;&nbsp;a <a href="http://chazsouthard.com" target="blank" class="chaz">Designed by Ibis

//About
  
section#about
    p hi

section
    p Charles Robert Darwin, FRS was an English naturalist. He established that all species of life have descended over time from common ancestors, and proposed the scientific theory that this branching.. 
