extends layout

block content
  section#bio-2-content
    img(style="margin: auto; display: block", src='http://198.199.72.158/wp-content/uploads/2013/11/profile-300x300.jpg', title="C. Southard")
    :markdown
      ## Artist Statement
      Chaz Southard’s vibrant,&nbsp;mellifluous&nbsp;abstract expressionist style is inspired by mid-century masters, hieroglyphics and&nbsp;textiles&nbsp;with an added&nbsp;energetic&nbsp;dose of&nbsp;jazz fusion.&nbsp;A spinal injury was the catalyst of his visual creations and led to an existential quest to find beauty and solace through creation. His artwork has been displayed at several North Shore Massachusetts galleries. &nbsp;Chaz continues to paint with the aspiration of&nbsp;creating work that brings the viewer into a space of curiosity and imagination.

      ## Biography
      Chaz Southard was born and raised in New England. In his late teens and early 20′s his visual creations were captured in the margin of his lecture notes and further developed in courses in tree identification (dendrology); where he sketched buds, leaf structures and tree profiles to complete his B.S. in Environmental Science.

      His interest in design was sparked after in intensive program at Boston University’s School of Web Design and Development. Upon completion, he started his first freelance web design company; Plum Island Designs.

      In 2002, Chaz injured his spinal cord during a surfing related activity. Paralyzed from the chest down, he found that his physical activities were highly restricted and he began painting as a way to improve strength and recover from his injury. After many tumultuous years, he found that he gravitated towards the seemingly [organized chaotic](http://mathworld.wolfram.com/Fractal.html "Fractals") patterns found in nature and towards the symmetry found in [Buddhist artwork](http://www.asianart.com/mandalas/mandimge.html "mandalas"), [sunflowers ](http://philosophestoned.blogspot.com/2011/01/rodin-fibonacci-wheel-symmetries.html "rodin-fibonacci-wheel-symmetries")and cross-sections of trees.

      As strength in his arms developed, he began painting on larger canvases with oil. In 2006, he enter a digital creation into a juried exhibit at the [Newburyport Art Association](http://www.newburyportart.org/ " Newburyport Art Association") and received an award for his digital creations.

      Chaz is also a published poet, science advocate and writer (dedicated to equality and restorative sciences). He has been published in a variety of magazines including: _The Heron’s Nest_, _Poetry Superhighway_, _Common Thought_ and many more. He has other interests in meditation, improvisational jazz and rock, mindfulness, and nature-based activities.

      ## Methodology
      Chaz’s method is nontraditional. He begins each oil painting with 3 or 4 colors placed upon a canvas. Due to his physical restrictions he decided to simplify the painting process and uses the canvas as his pallet. He refined his method by building depth through multiple layers.

      > "Early on, I realized that my lack of hand dexterity limited the precision and detail of my drawings. I had to embrace the constraints and enter the natural flow of my restricted mobility. I find that painting opens doorways towards freedom. The creative process for me doesn’t get past the moment–it’s all about execution. I let go of traditional thought and follow the movement of colors. Painting for me is a place of constant discovery and I find enjoyment in spontaneous effects."

      In contrast to the abstract oil paintings, the digital mandalas (Sanskrit for ‘magic circles’) are symmetrical, ordered, and highly structured. They too began as colors and patterns, but were put through a precise mathematical process.

      ## Prints and more...
      A note about limited edition prints:

      All Limited Edition items are signed and numbered. Each edition is limited to 30 prints. All prints are handmade and use only the highest quality ink and paper to preserve the creation’s original integrity.

      ## Contact
      [chazsouthard@gmail.com](mailto:chazsouthard@gmail.com)
