section.text#chaz_content
  :markdown
    #Color is Alive

    > In the dawn, armed with a burning patience, we shall enter the splendid Cities.
    - Arthur Rimbaud

#portfolio_content

section#about_content
  p this file can be found in views/index.jade

  :markdown
    This is the content for the about page
    For help and documentation, check out [http://roots.cx](http://roots.cx)

#blog_content

#contact_content

section#featuredImg


section#copy
section#footer

