extends layout

block content
  section#content.category-gallery(style='display: block;')
    .gallery
      figure
        a.fancybox(rel='gallery', href='/content/oil/Listening-Pines.jpg', title='Listening Pines - $1000')
          img(src='/content/oil/Listening-Pines.jpg', alt='')
          figcaption Listening Pines - $1000
      figure
        a.fancybox(rel='gallery', href='/content/oil/Cracked_Nut.jpg', title='Cracked Nut - $750')
          img(src='/content/oil/Cracked-Nut.jpg', alt='')
          figcaption Cracked Nut - $750
      figure
        a.fancybox(rel='gallery', href='/content/oil/Circles.jpg', title='Circles - $750')
          img(src='/content/oil/Circles.jpg', alt='')
          figcaption Circles - $750
      figure
        a.fancybox(rel='gallery', href='/content/oil/Self-Portrait.jpg', title='Self Portrait - $750 [sold]')
          img(src='/content/oil/Self-Portrait.jpg', alt='')
          figcaption Self Portrait - $750 [sold]
      figure
        a.fancybox(rel='gallery', href='/content/oil/Crying-Wolf.jpg', title='Crying Wolf - $750')
          img(src='/content/oil/Crying-Wolf.jpg', alt='')
          figcaption Crying Wolf - $750
      figure
        a.fancybox(rel='gallery', href='/content/oil/Datura.jpg', title='Datura - $1000 [sold]')
          img(src='/content/oil/Datura.jpg', alt='')
          figcaption Datura - $1000 [sold]
      figure
        a.fancybox(rel='gallery', href='/content/oil/Floral-Bop.jpg', title='Floral Bop - $500')
          img(src='/content/oil/Floral-Bop.jpg', alt='')
          figcaption Floral Bop - $500
      figure
        a.fancybox(rel='gallery', href='/content/oil/Rogue.jpg', title='Rogue - $1000 [sold]')
          img(src='/content/oil/Rogue.jpg', alt='')
          figcaption Rogue - $1000 [sold]
      figure
        a.fancybox(rel='gallery', href='/content/oil/Crimes.jpg', title='Crimes - $500')
          img(src='/content/oil/Crimes.jpg', alt='')
          figcaption Crimes - $500
      figure
        a.fancybox(rel='gallery', href='/content/oil/Squares.jpg', title='Squares - $500 [sold]')
          img(src='/content/oil/Squares.jpg', alt='')
          figcaption Squares - $500 [sold]
      figure
        a.fancybox(rel='gallery', href='/content/oil/Pharophs-Brew.jpg', title='Pharophs Brew - $500')
          img(src='/content/oil/Pharaohs-Brew.jpg', alt='')
          figcaption Pharaohs Brew - $500
      figure
        a.fancybox(rel='gallery', href='/content/oil/The-Blacksmiths-Apprentice.jpg', title='The Blacksmiths Apprentice - $750')
          img(src='/content/oil/The-Blacksmiths-Apprentice.jpg', alt='')
          figcaption The Blacksmiths Apprentice - $750
      figure
        a.fancybox(rel='gallery', href='/content/oil/In-The-Chlolarphyll-Alley.jpg', title='In The Chlolarphyll Alley - $500 [sold]')
          img(src='/content/oil/In-The-Chlolarphyll-Alley.jpg', alt='')
          figcaption In The Chlolarphyll Alley - $500 [sold]
      figure
        a.fancybox(rel='gallery', href='/content/oil/Julius.jpg', title='Julius - $500')
          img(src='/content/oil/Julius.jpg', alt='')
          figcaption Julius - $500
      figure
        a.fancybox(rel='gallery', href='/content/oil/Blueberry-Hydrangea.jpg', title='Blueberry Hydrangea - $225 [sold]')
          img(src='/content/oil/Blueberry-Hydrangea.jpg', alt='')
          figcaption Blueberry Hydrangea - $225 [sold]
