article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 100%;
}
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
p,
pre {
  margin: 1em 0;
}
blockquote {
  margin: 1em 40px;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: 'Bitstream Vera Sans Mono', Consolas, Courier, monospace, serif;
  _font-family: 'courier new', 'Bitstream Vera Sans Mono', Consolas, Courier, monospace;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dl {
  padding: 0;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border-color: #c0c0c0;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
:-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  font-size: 96.9%;
  font-size: 15px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
.btn-simple {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
  font-size: 13px;
  padding: 9.945px 21.879px;
  -webkit-border-radius: 3.000002307694083px;
  -moz-border-radius: 3.000002307694083px;
  -o-border-radius: 3.000002307694083px;
  -ms-border-radius: 3.000002307694083px;
  border-radius: 3.000002307694083px;
  background-color: #00a6fc;
  color: #fff;
  color: rgba(255,255,255,0.95);
  cursor: pointer;
  font-weight: bold;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.btn-simple:hover,
.btn-simple:focus {
  background-color: #009eef;
  color: #f7f7f7;
  color: rgba(247,247,247,0.95);
}
.btn-simple:active {
  background-color: #0095e3;
}
.btn {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
  font-size: 13px;
  padding: 9.945px 21.879px;
  -webkit-border-radius: 3.000002307694083px;
  -moz-border-radius: 3.000002307694083px;
  -o-border-radius: 3.000002307694083px;
  -ms-border-radius: 3.000002307694083px;
  border-radius: 3.000002307694083px;
  background: url("noise.png") repeat, #0095e3 -webkit-gradient(linear, left top, left bottom, color-stop(0, #17b0ff), color-stop(1, #0095e3)) repeat-x;
  background: url("noise.png") repeat, #0095e3 -webkit-linear-gradient(top, #17b0ff 0%, #0095e3 100%) repeat-x;
  background: url("noise.png") repeat, #0095e3 -moz-linear-gradient(top, #17b0ff 0%, #0095e3 100%) repeat-x;
  background: url("noise.png") repeat, #0095e3 -o-linear-gradient(top, #17b0ff 0%, #0095e3 100%) repeat-x;
  background: url("noise.png") repeat, #0095e3 -ms-linear-gradient(top, #17b0ff 0%, #0095e3 100%) repeat-x;
  background: url("noise.png") repeat, #0095e3 linear-gradient(top, #17b0ff 0%, #0095e3 100%) repeat-x;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  border: 1px solid #0095e3;
  color: #fff;
  color: rgba(255,255,255,0.95);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
  -o-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
  -ms-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
  cursor: pointer;
  font-weight: bold;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.btn:hover,
.btn:focus {
  background-position: 0 -9.945px;
  color: #f7f7f7;
  color: rgba(247,247,247,0.95);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.btn:active {
  -webkit-box-shadow: inset 0 1px 5px rgba(0,124,189,0.6);
  -moz-box-shadow: inset 0 1px 5px rgba(0,124,189,0.6);
  -o-box-shadow: inset 0 1px 5px rgba(0,124,189,0.6);
  -ms-box-shadow: inset 0 1px 5px rgba(0,124,189,0.6);
  box-shadow: inset 0 1px 5px rgba(0,124,189,0.6);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.2);
  border-color: #0088cf;
}
.btn.disabled,
.btn-simple.disabled {
  background: #ccc;
  border-color: #b8b8b8;
  -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn.disabled:hover,
.btn-simple.disabled:hover {
  background: #ccc;
  background-position: 0 0;
}
.btn.disabled:active,
.btn-simple.disabled:active {
  background: #ccc;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  border-color: #b8b8b8;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
.flash.error {
  background: #e67467 -webkit-gradient(linear, left top, left bottom, color-stop(0, #e88074), color-stop(1, #e67467)) repeat-x;
  background: #e67467 -webkit-linear-gradient(top, #e88074 0%, #e67467 100%) repeat-x;
  background: #e67467 -moz-linear-gradient(top, #e88074 0%, #e67467 100%) repeat-x;
  background: #e67467 -o-linear-gradient(top, #e88074 0%, #e67467 100%) repeat-x;
  background: #e67467 -ms-linear-gradient(top, #e88074 0%, #e67467 100%) repeat-x;
  background: #e67467 linear-gradient(top, #e88074 0%, #e67467 100%) repeat-x;
  zoom: 1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
  border: 1px solid #e26153;
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
  position: relative;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.flash.error:before,
.flash.error:after {
  content: "";
  display: table;
}
.flash.error:after {
  clear: both;
}
.flash.warning {
  background: #fae46c -webkit-gradient(linear, left top, left bottom, color-stop(0, #fae77b), color-stop(1, #fae46c)) repeat-x;
  background: #fae46c -webkit-linear-gradient(top, #fae77b 0%, #fae46c 100%) repeat-x;
  background: #fae46c -moz-linear-gradient(top, #fae77b 0%, #fae46c 100%) repeat-x;
  background: #fae46c -o-linear-gradient(top, #fae77b 0%, #fae46c 100%) repeat-x;
  background: #fae46c -ms-linear-gradient(top, #fae77b 0%, #fae46c 100%) repeat-x;
  background: #fae46c linear-gradient(top, #fae77b 0%, #fae46c 100%) repeat-x;
  zoom: 1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
  border: 1px solid #f9df53;
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
  position: relative;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.2);
}
.flash.warning:before,
.flash.warning:after {
  content: "";
  display: table;
}
.flash.warning:after {
  clear: both;
}
.flash.notice {
  background: #62c1fa -webkit-gradient(linear, left top, left bottom, color-stop(0, #70c7fa), color-stop(1, #62c1fa)) repeat-x;
  background: #62c1fa -webkit-linear-gradient(top, #70c7fa 0%, #62c1fa 100%) repeat-x;
  background: #62c1fa -moz-linear-gradient(top, #70c7fa 0%, #62c1fa 100%) repeat-x;
  background: #62c1fa -o-linear-gradient(top, #70c7fa 0%, #62c1fa 100%) repeat-x;
  background: #62c1fa -ms-linear-gradient(top, #70c7fa 0%, #62c1fa 100%) repeat-x;
  background: #62c1fa linear-gradient(top, #70c7fa 0%, #62c1fa 100%) repeat-x;
  zoom: 1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
  border: 1px solid #49b7f9;
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
  position: relative;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.flash.notice:before,
.flash.notice:after {
  content: "";
  display: table;
}
.flash.notice:after {
  clear: both;
}
.flash.success {
  background: #73dc9d -webkit-gradient(linear, left top, left bottom, color-stop(0, #7fdfa6), color-stop(1, #73dc9d)) repeat-x;
  background: #73dc9d -webkit-linear-gradient(top, #7fdfa6 0%, #73dc9d 100%) repeat-x;
  background: #73dc9d -moz-linear-gradient(top, #7fdfa6 0%, #73dc9d 100%) repeat-x;
  background: #73dc9d -o-linear-gradient(top, #7fdfa6 0%, #73dc9d 100%) repeat-x;
  background: #73dc9d -ms-linear-gradient(top, #7fdfa6 0%, #73dc9d 100%) repeat-x;
  background: #73dc9d linear-gradient(top, #7fdfa6 0%, #73dc9d 100%) repeat-x;
  zoom: 1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
  border: 1px solid #5fd790;
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
  position: relative;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.flash.success:before,
.flash.success:after {
  content: "";
  display: table;
}
.flash.success:after {
  clear: both;
}
.buttonset {
  display: inline;
}
.buttonset label {
  margin-left: 0;
  margin-right: 0;
}
.buttonset label:nth-child(2) {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.buttonset label:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.buttonset label a {
  color: #fff !important;
  text-decoration: none;
}
.buttonset input[type="radio"] {
  display: none;
  left: -1e+8px;
  position: absolute;
}
.buttonset input[type="radio"]:checked + label {
  text-decoration: underline;
}
img,
object,
embed,
audio,
video {
  max-width: 100%;
}
body {
  border-top: 7px solid #d5572e;
  position: relative;
  background: #f6f8fb;
  overflow-x: hidden;
  -webkit-animation: fadeIn 1s;
}
strong {
  font-weight: 600;
}
hr {
  border: 2px solid #192d35;
  border-top: none;
}
header {
  zoom: 1;
  padding: 0;
  max-width: 1200px;
}
header:before,
header:after {
  content: "";
  display: table;
}
header:after {
  clear: both;
}
header .title {
  font-size: 3em;
}
nav,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
p {
  font-family: 'Didact Gothic', sans-serif;
}
nav {
  position: relative;
  background: #328bde;
  border-bottom: 10px solid #192d35;
  line-height: 100px;
  font-size: 16.666666666666668px;
}
nav label {
  text-transform: uppercase;
  color: #fff;
  padding-left: 10px;
  font-weight: bold;
}
nav label:first-child {
  padding-left: 0;
}
#logo,
nav {
  vertical-align: middle;
}
#logo {
  width: 66.66666666666666px;
  height: 66.66666666666666px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 16.666666666666668px;
  margin: 16.666666666666668px;
  -webkit-box-shadow: 0 0 2px 1px #d5572e;
  -moz-box-shadow: 0 0 2px 1px #d5572e;
  -o-box-shadow: 0 0 2px 1px #d5572e;
  -ms-box-shadow: 0 0 2px 1px #d5572e;
  box-shadow: 0 0 2px 1px #d5572e;
  background: url("/img/logo.png") no-repeat center;
  -webkit-background-size: 60%;
  -moz-background-size: 60%;
  -o-background-size: 60%;
  -ms-background-size: 60%;
  background-size: 60%;
}
section {
  position: relative;
  line-height: 30px;
  background: #ecf0f1;
  padding: 20px;
  margin: 20px;
}
section h1 {
  text-transform: uppercase;
}
section.text:after {
  content: '';
  display: inline-block;
  position: relative;
  width: 40%;
  height: 50px;
}
section.text:after background url('/img/moon.svg') no-repeat 100% {
  zoom: 1;
}
section.text:after background url('/img/moon.svg') no-repeat 100%:before,
section.text:after background url('/img/moon.svg') no-repeat 100%:after {
  content: "";
  display: table;
}
section.text:after background url('/img/moon.svg') no-repeat 100%:after {
  clear: both;
}
section #content {
  max-width: 960px;
  padding: 0 40px;
  margin: 0 auto;
  margin-bottom: 50px;
}
section #content.docs {
  padding-left: 260px;
  padding-right: 0;
  max-width: 700px;
}
section #content h3 {
  font-weight: normal;
  color: #333;
  font-size: 2em;
  margin-bottom: 15px;
  margin-top: 25px;
}
section #content h5 {
  font-weight: normal;
  color: #333;
  font-size: 1.3em;
  margin-bottom: 10px;
  padding-bottom: 3px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
section #content blockquote {
  border-left: 3px solid #d5572e;
  margin-left: 0;
  padding-left: 15px;
  font-style: italic;
}
section #content p {
  color: #5e5e5e;
  font-size: 16px;
  line-height: 1.6em;
}
section #content ul {
  color: #5e5e5e;
  font-size: 16px;
  line-height: 1.6em;
}
section #content a {
  color: #062c6c;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
  border-bottom: 1px solid transparent;
  font-weight: 500;
}
section #content a:hover {
  border-bottom: 1px solid #d5572e;
}
/*section.news-container
    //position: relative
    display: inline-block
    border 2px solid slate
    size 20% 20%
    group ()

  div#news-box
    border 2px solid slate
    position relative
    padding 30px
    background gray
   // size 33% 33%
    group ()
        
  div.news-title
    letter-spacing 1px
    color slate
    p
      font-size .8em
      group()
*/
/*#metabox
  position relative
  color #fff
  display inline-block
  height:450px
  width:250px
  background: gray url('/img/rogue.jpg') center center no-repeat
  background-size: 200px 200px
  group ()
*/
#metabox {
  display: inline-block;
  height: 450px;
  width: 400px;
  background: #192d35;
  background: #ecf0f1 url("/img/rogue.jpg") center center no-repeat;
  -webkit-background-size: 200px 200px;
  -moz-background-size: 200px 200px;
  -o-background-size: 200px 200px;
  -ms-background-size: 200px 200px;
  background-size: 200px 200px;
  zoom: 1;
}
#metabox:before,
#metabox:after {
  content: "";
  display: table;
}
#metabox:after {
  clear: both;
}
#picture-drip {
  display: inline-block;
  height: 450px;
  width: 400px;
  background: #192d35;
  background: #ecf0f1 url("/img/rogue.jpg") center center no-repeat;
  -webkit-background-size: 200px 200px;
  -moz-background-size: 200px 200px;
  -o-background-size: 200px 200px;
  -ms-background-size: 200px 200px;
  background-size: 200px 200px;
  zoom: 1;
}
#picture-drip:before,
#picture-drip:after {
  content: "";
  display: table;
}
#picture-drip:after {
  clear: both;
}
#copy {
  background: #328bde;
}
/* Footer
-----------------------------------------------------------------------------*/
footer {
  width: 100%;
  height: 250px;
  background: #192d35;
  font-size: 1em;
  background: #43788d url("/img/logo2.png") center center no-repeat;
  -webkit-background-size: 100px 100px;
  -moz-background-size: 100px 100px;
  -o-background-size: 100px 100px;
  -ms-background-size: 100px 100px;
  background-size: 100px 100px;
  color: #fff;
  font-size: 1.4em;
  text-align: center;
  padding-top: 20px;
}
/* Animations and Responsive
-----------------------------------------------------------------------------*/
/*@keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1

//@import "adaptive"

