// this is actually a practice worth noting. By using variables, I can
// override normal color names with specific shades of a given color. And by
// assigning names, I can insure that there are no weird "slightly-off"
// versions of a color. Also, it makes the CSS much more readable.

// colors
blue = #062C6C
ltblue = #328bde
dark_blue = darken(ltblue, 30%)
gray = #ECF0F1
ltgray = #7f7f7f
dark_gray = #555
slate = #192d35
orange = #f4cd0e
white = #FFF

// dims
regular_margin = 10px
regular_font_size = 17px
logo_height = 100px
nav_border_width = regular_margin
footer_height = 130px
min_width = 320px // yeah - that's as small as we're going

//measurements
nav_bar_height = 122px
