//@import '../components/animate-stylus/'

@import 'nib'
@import '_settings'
@import '_fancybox'
@import '_loading'
@import '_base'
@import '_forms'
@import '_ui-elements'
@import '_wordpress'
@import '_share'

// responsive
img, object, embed, audio, video
	max-width:100%

//grid
grid()
	column-width = 60px
	gutter-width = 20px
	columns = 12
	total-width = 100%

body
	position: relative
	background: white
	color dark_gray
	font-family 'Didact Gothic', sans-serif
	font-size regular_font_size

body, html
	min-width min_width
	min-height 100%
	height 100%

strong
	font-weight: 600

header
	group()
	padding 0
	max-width 1200px

	.title 
		font-size 3em

//basic typography
nav, h1, h2, h3, h4, h5, h6
	font-family: 'Yanone Kaffeesatz', sans-serif

@keyframes fadeInDown
	0%
		opacity: 0
		transform: translateY(-(regular_margin))
	100%
		opacity: 1
		transform: translateY(0)

nav
	position relative
	background ltblue
	border-top: nav_border_width solid orange
	border-bottom nav_border_width solid slate
	line-height logo_height
	font-size regular_margin * 2

	.logo, select, .buttonset label, .share
		display inline-block
		animation-name: fadeInDown
		animation-iteration-count: 1
		animation-timing-function: ease-in
		animation-duration: 0.5s

	select, .buttonset label, .share
		height 30px

	select
		display none
		background gray
		min-width 90px

	// switch to a select box for small devices
	@media screen and (max-width: 500px)
		select
			display inline-block

		.buttonset
			display none

	label
		text-transform uppercase
		color white
		font-weight bold

		a
			padding 5px

	.share
		line-height normal

.logo, nav
	vertical-align middle

.logo
	content_size = logo_height - 2 * regular_margin
	width content_size
	height content_size
	display inline-block
	box-sizing border-box
	background url('../img/logo.png') no-repeat center, dark_blue
	border (regular_margin / 2) solid slate
	border-radius 50%
	background-size 100%

nav .logo
	margin regular_margin

// Document setup
section
	// text becomes more difficult to read in really long lines
	max-width 900px
	margin-left auto
	margin-right auto
	border-left regular_margin solid transparent
	border-right regular_margin solid transparent

	&.category-gallery
		max-width 100%
		border none
		padding (regular_margin / 2)

	position relative
	line-height 30px
	background gray
	min-height calc(100% \- (footer_height + nav_bar_height))
	box-sizing border-box
	background-clip padding-box
	padding regular_margin

	h1
		text-transform uppercase

// the blog has sections inside of it
#blog_content
	background transparent
	border none
	padding 0

	section

		.post-info, .title
			margin 0
			padding regular_margin
			margin-left -(regular_margin)
			border-left regular_margin solid orange
			padding-bottom 0

		.post-info
			color lighten(dark_gray, 20%)
			font-size regular_font_size * 0.75
			padding-top 0

		.title
			margin-top -(regular_margin)


footer
	width 100%
	height footer_height
	font-size 1em
	background ltblue

	a.logo
		margin auto
		display block

	p
		margin 0
		padding-top 5px
		color white
		font-size 1.4em
		text-align center

.gallery
	line-height 0
	text-align center

	br, .wp-caption-text
		display none

figure
	margin (regular_margin / 2)
	display inline-block
	position: relative
	overflow: hidden

	img
		width min_width - (4 * regular_margin)
		height min_width - (4 * regular_margin)

	figcaption
		width 100%
		height 100%
		line-height 20px
		left: 0
		bottom: -30%
		display block
		position: absolute
		background: black
		background: rgba(0,0,0,0.75)
		color: white
		padding: 10px 20px
		box-sizing border-box
		opacity: 0
		transition: all 0.6s ease
		font-size 20px

	&:hover figcaption
		bottom: 0
		opacity: 1
