/*  
Theme Name: Roots
Theme URI: http://
Description: A minimal and responsive Roots & WordPress portfolio theme.
Version: 1.0
Author: Sean Lang and C. Southard
Author URI: http://
Tags: portfolio, responsive, blog, clean, minimal, white, two-columns, threaded-comments, translation-ready, custom-menus

TABLE OF CONTENTS

01 - Reset
02 - Global Variabes
03 - General Layout
04 - Header
05 - Content
06 - Slideshow
07 - Sidebar
08 - Widgets
09 - Comments
10 - Pagination
11 - Footer
12 - Media Queries
*/

/* ///////////////////////////////////////////////////////////////////// 
//  01 - Reset
/////////////////////////////////////////////////////////////////////*/

normalize()
base()

// this is actually a practice worth noting. By using variables, I can
// override normal color names with specific shades of a given color. And by
// assigning names, I can insure that there are no weird "slightly-off"
// versions of a color. Also, it makes the CSS much more readable.



/* ///////////////////////////////////////////////////////////////////// 
//  02 -  Global Variables
/////////////////////////////////////////////////////////////////////*/

// colors
blue = #062C6C
gray = #ECF0F1
orange = #D5572E

// dims
logo_height = 100px

//basic typography
nav, h1, h2, h3, h4, h5, h6
	font-family: 'Yanone Kaffeesatz', sans-serif

p
	font-family: 'Didact Gothic', sans-serif;


/* ///////////////////////////////////////////////////////////////////// 
//  03 -  Nav
/////////////////////////////////////////////////////////////////////*/

nav
	position relative
	background blue
	line-height logo_height
	font-size 1.3em

	ul, li
		margin 0
		padding 0
		display inline-block

	li
		text-transform uppercase
		color white
		padding-left 10px
		font-weight bold

		&:first-child
			padding-left 0

#logo, nav
	vertical-align middle

#logo
	logo_padding = (logo_height / 2)
	content_size = logo_height - 2 * logo_padding
	size content_size
	border-radius 50%
	display inline-block
	box-sizing border-box
	padding logo_padding
	margin logo_padding

	//a 1px border would look choppy... using a shadow gives us a slight
	//antialiasing effect
	//box-shadow 0 0 2px 1px orange 

	//the background image is really only the weird shape in the middle, the
	//surrounding circle can be made with pure css, bringing our image size
	//down to 1.6 kb - enough to be base64'ed and inlined. And that means 1
	//less http request & faster page load time
	background url('/img/logo.png') no-repeat center
	background-size 60% 

/* ///////////////////////////////////////////////////////////////////// 
//  03 -  Layout Home
/////////////////////////////////////////////////////////////////////*/

section
	position relative
	line-height 30px
	background gray
	padding 20px
	margin 20px

	h1
		text-transform uppercase

	&.text:after
		//I'm just gonna say that this is the class that gets an emblem at the
		//bottom... I'll prolly come up with a better selector later
		content ''
		display inline-block
		size 20% 50px
		background url('/img/moon.svg') no-repeat 100%
		width 20%

#container
    width 100%



#painting
	position relative		
	height 50%
	width 20%
    padding 20px
    display block
    float left
	width: auto
	background url('/img/rogue.jpg') no-repeat

#footer
    clear both
	background blue
	font-size 1em
	padding 20px
	margin 20px

.top
    width 100%
    color white
    font-size 1.3333em
    background orange
    padding 2em 0

.content-container
	background gray

.col.first
	display block
	width 25%
	float left

.col.second
	display block
	width 25%
	float left

.col.third
	display block
	float right
	width 50%
	margin 0 1% 0 7%

#copy
	background grey
	font-size 1.3em
    padding 20px
	margin 20px
	color white


.fbshare
	background grey

	// testing no dice

/* ///////////////////////////////////////////////////////////////////// 
//  03 -  Inteior Pages
/////////////////////////////////////////////////////////////////////*/

#about
	background blue
	color green
	z-index: 10
	width: 80%
	min-width 400px
	margin 0 auto
	padding-top 65px
	text-align center
	line-height 1.6

    h1
      font-size 4em
      p 
        margin-top 30px
